/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */

html { width: 100%; height: 100%; }
body { font:12px/1.231 sans-serif; width: 100%; height: 100%; } 

select, input, textarea, button { font:99% sans-serif; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  font-family: Arial, Helvetica, sans-serif;  
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { 	color: #6fa358; }
a:hover { color: #036; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: green. */
/*::-moz-selection{ background: #6fa358; color:#fff; text-shadow: none; }
::selection { background:#6fa358; color:#fff; text-shadow: none; } */

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }






 /* Primary Styles
    Author: 
 */
.container {
	width: 768px;
	margin: 0 auto;
}
 
.map_container {
	position: relative;
	width: 768px;
	height: 450px;
	margin: 0 auto;
}
.map {
	width: 768px;
	height: 450px;
	margin: 0 auto;
}
.map_label_container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}
.map_label_container .map_label {
	border: 1px solid #666;
	background: #fff;
	color: #F88C0E;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	behavior: url(css/PIE.htc);
	position: relative;
	z-index: 10;
	padding: 3px 10px;
	margin: 0 3px;
	float: left;
	cursor: pointer;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 13px;
}
.map_label_container a.map_label.active, .map_label_container a.map_label:hover {
	background: #CCD9E6;
	color: #718DA4;
}
.link_container {
	top: -200px;
	left: 0;
	position: absolute;
	width: 150px;
	padding: 0px;
	background: #fff;
	border: 1px solid #222;
	z-index: 10000;
}
.link_container h2, .link_container h3 {
	font-size: 12px;
	color: #666;
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 5px;
}
.link_container h3 {
	font-weight: normal;
	cursor: pointer;
}
.link_container h3.active {
	background: #eee;
}

.colorbar {
	position: absolute;
	left: 5px;
	top: 60px;
	display: none;
}
.colorbar img {
	float: left;
}
.colorbar .bars {
	float: left;
	display: none;
}
.colorbar .bars .bar {
	margin: 7px 0;
	padding: 3px 3px 3px 5px;
	background: #C2D1E0;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	behavior: url(css/PIE.htc);
	position: relative;
	z-index: 10;
	font-weight: bold;
}
.warning_container {
	top: -200px;
	left: 0;
	position: absolute;
	width: 160px;
	padding: 10px;
	background: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	color: #999;
}
.warning_container .close {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}
.warning_container h2 {
	font-size: 16px;
	font-weight: normal;
}
.warning_container h3 {
	font-size: 14px;
	font-weight: normal;
}
.warning_container h4 {
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
}
.warning_container .pointer {
	width: 75px;
	height: 30px;
	left: 62px;
	position: absolute;
	bottom: -30px;
	background: url(../img/pointer_bg.png) no-repeat center top;
}
.warning_container .link_container {
	position: static;
	display: block !important;
	border: 0 none;
	margin-top: 5px;
}
.warning_container .link_container h2 {
	font-size: 14px;
}
.warning_container .link_container h3 {
	font-size: 12px;
}
.news {
	width: 180px;
	position:absolute;
	top: 0;
	right: 0;
	border: 1px solid #99B3CC;
	background: #fff;
	display: none;
}
.news h1 {
	color: #5AA6B3;
	font-size: 18px;
	padding: 8px;
	background: #fff url(../img/news_btn.jpg) no-repeat 155px 10px;
	border-bottom: 1px dotted #99B3CC;
	cursor: pointer;
}
.news h1.active {
	background-position: 155px -75px;
}
.news .news_items {
	height: 409px;
	overflow-y: scroll;
	padding: 0 0 0 4px;
	display: none;
}
.news .news_item {
	background: #B9C4CF;
	overflow: hidden;
	margin: 3px 3px 3px 0;
	padding: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	cursor: pointer;
}
div.news .news_item h2 {
	color: #fff;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	width: 140px;
	height: 20px;
}
div.news .news_item p {
	color: #59686C;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	width: 106px;
	height: 14px;
	margin-right: 6px;
	float: left;
	display: inline;
}
div.news .news_item a {
	color: #fff;
	font-size: 10px;
	float: left;
	display: inline;
	font-weight: bold;
	text-decoration: none;
}
.loading {
	display: none;
	position: absolute;
	left: 334px;
	top: 205px;
	height: 40px;
	width: 100px;
	padding: 10px 0;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	text-align: center;
	line-height: 40px;
	z-index: 1000;
	font-size: 14px;
	font-weight: bold;
	color: #666;
}

#vaccination_popup {
	position: absolute;
	width: 180px;
	height: 80px;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	padding: 10px;
	background: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	color: #999;

}
#vaccination_popup .close {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}
#vaccination_popup .close:hover {
	background: #666;
	color: #fff;
}

/* map popup styling */
.estyle1 {
	background: url(/Asset/img/gmap/infowindow_bgrd.png) no-repeat top left;
	width: 177px;
	font-size: 10px;
	color: #fff;
	position: absolute;
	top: 90px;
	left: -22px;
}
.estyle1 .close {
	cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 20px;
  width: 15px;
}
.estyle1 h2 {
	background: url(/Asset/img/gmap/infowindow_header_bgrd.png) no-repeat top left;
	font-size: 11px;
	color: #fff;
	padding: 20px 30px 5px 10px;
}
.estyle1 .info_contr {
	padding: 5px 10px 10px;
}
.estyle1 .email {
	color: #fff;
}




/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

